.chat-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat-row.bot {
    justify-content: flex-start;
}

.chat-row.user {
    justify-content: flex-end;
}

.chat-bubble {
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 70%;
    font-size: 16px;
    line-height: 1.5;
}

.bot .chat-bubble {
    background-color: #f1f0f0;
    color: black;
    text-align: left;
}

.user .chat-bubble {
    background-color: #0084ff;
    color: white;
    text-align: right;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    object-fit: cover;
}

.timestamp {
    font-size: 12px;
    color: black;
    margin-top: 5px;
    text-align: right;
}



/* Chat icon creation */
.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.chat-popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.show-popup {
    display: block !important;
}